@import url('http://fonts.cdnfonts.com/css/google-sans');
@import url('http://fonts.cdnfonts.com/css/poppins');
@import url('http://fonts.cdnfonts.com/css/volkhov');
@import url('http://fonts.cdnfonts.com/css/open-sans');

:root {
  --font-google-sans: 'Product Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-volkhov: 'Volkhov', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}